@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
}

:root {
  --text-blue: #092147;
  --text-white: #fff;
  --text-light-grey: #d0d5dd;
  --text-grey-1: #3C4959;
  --text-grey-2: #979797;
  --text-grey-3: #667085;

  --bg-white: #fff;
  --bg-blue: #092147;



  --text-color: #fff;
  --bg-color: #c6def6;
  --bg-button: #092147;
  --bg-treatmentplan: #092147;
}
