@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#header {
  position: relative;
}

.header {
  background-image: url('/bg.png');
  width: 100%;
  height: 525px;
  object-fit: cover; /* или contain */
}

.header__top {
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.header__button {
  margin-left: auto;
}

.header__title {
  font-size: 30px;
  color: #fff;
}

.promo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 20px;
}

.promo__title {
  font-size: 25px;
  color: #fff;
}

.promo__text {
  font-size: 13.5px;
  color: #383b68;
}

.form {
  background-image: url('/tooth-all.png');
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  padding: 0px 20px;
}

.button {
  border: none;
  outline: none;
  background: #383b68;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.question {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.qustion__title {
  font-size: 20px;
}

.services {
  padding: 20px;
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.services__item {
  border: 1px solid #092147;
  color: #092147;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 14px;
}

.specialists {
  background: #092147;
  padding: 50px 0px;
}

.qustion__title_spec,
.qustion__text_spec {
  color: #fff;
}

.qustion__title_icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.fidback {
  padding: 50px 0px;
}
